body {
    background-image: url("https://zongzhengli.github.io/img/matrix-1.png");
    background-repeat: repeat;
    background-size: 500px;
}

.flexbox-container {
    display: flex;
    justify-content: center;
}

.computers {
    width: 800px;
    height: 150px;
    background-color: dark gray;
    color:white;
    border: 5px solid red;
}

.description {
    height:300px;
    width: 800px;
    border: 5px solid red;
    margin-top: 20px;
    color: purple;
    font-size: 50px;
    font-family: "luminari", fantasy;
    text-align: center;
}

.link {
    color: red;
    font-size: 40px;
    text-decoration: none;
    font-family: "luminari", fantasy;
    display:inline-block;
    margin-top: 20px;
}